Source: festvox-ca-@SPK@-hts
Section: sound
Priority: optional
Maintainer: Sergio Oller <sergioller@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://festcat.talp.cat/

Package: festvox-ca-@SPK@-hts
Architecture: all
Depends: festival-ca (>=3.0.6), ${misc:Depends}
Provides: festival-catalan-voice
Description: Catalan @GENDER@ speaker for festival, 16kHz HTS
 This is a Catalan @GENDER@ HTS voice for festival that uses 
 16kHz samples. Using festival, this package allows one to transform 
 written text to speech spoken with a high quality @GENDER@ voice.
 .
 This voice was generated @TENHOURS@at Universitat Politècnica
 de Catalunya.

